<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="temp">
	
<div id="sidebar"><label id="labelNav">Navigation</label><br>
<%= link_to "Home", "home" %><br/>
<%= link_to "Login", "login" %><br/>
<%= link_to "Orders", "orders" %><br/>
</div>

<div id="main"><label id="labelMain">Main</label>
	<%= yield %>
</div>

</div>

<%= render 'layouts/footer' %>

</body>
</html>
